@inherits LayoutComponentBase

<MudThemeProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>

<PageTitle>BlazorDesktopApp</PageTitle>

<GlobalLoader/>
<MudLayout Style="height: 100vh" Class="d-flex flex-column">
    <div class="flex-1">
        <MudContainer Class="pa-5 ma-0" Style="height: 100%" MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </div>
</MudLayout>