@using MedApp.Models
@using MedApp.Models.Viral

<div class="d-flex flex-column gap-5">
    <NumericEntry Title="@(Title + " " + AttributeNumeric.Unit)"
                  Value="@AttributeNumeric.Value"
                  OnChange="OnChange"/>
</div>

@code {

    [Parameter]
    public ViralAttributeNumeric AttributeNumeric { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string UnitTitle { get; set; }
    
    [Parameter]
    public EventCallback<double> OnChange { get; set; }
    
}